* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh / 10.7);
}

section {
    background-color: rgb(245, 245, 245);
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    border-bottom: 2px solid #c0c4cc;
    border-top: none;
    border-right: none;
    border-left: none;
    height: calc(100vw / 38);
    margin-top: 8px;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: rgb(108, 24, 168);
    outline: none !important;
}

textarea {
    resize: vertical;
    min-height: 56px;
}

label {
    font-size: calc(100vw / 95);
    font-weight: bold;
}

p {
    line-height: 1.5;
    font-size: calc(100vw / 95);
}

button:hover {
    cursor: pointer;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect--black:after {
    background-color: black;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0px;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0px;
    width: 100%;
}

.personal-logo {
    filter: invert(1);
    width: calc(100vw / 30);
    height: calc(100vw / 30);
}

.container {
    padding: calc(100vw / 32) 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 calc(100vw / 127);
}

.click {
    transition: all 200ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.nav__link {
    margin: 0 calc(100vw / 126.7);
}

.nav__link--anchor {
    font-size: calc(100vw / 95);
    color: #242424;
    font-weight: 700;
}

.fa-moon {
    font-size: calc(100vw / 76);
}

#landing-page {
    min-height: 100vh;
    padding: calc(100vw / 95);
    position: relative;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    max-width: 1000px;
}

.title {
    font-size: calc(100vw / 20);
    margin-bottom: calc(100vw / 126.7);
    text-align: left;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700;
}

.secondary {
    color: rgb(80, 0, 138);
    font-weight: 700;
}

.header-para {
    font-size: calc(100vw / 63);
    max-width: 420px;
}

.social__list {
    margin-top: 8px;
    display: flex;
}

.social__link {
    color: rgb(80, 0, 138);
    font-size: calc(100vw / 76);
    margin-right: calc(100vw / 95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail__btn {
    width: calc(100vw / 21.7);
    height: calc(100vw / 21.7);
    font-size: calc(100vw / 47.5);
    border: none;
    border-radius: 50%;
    background-color: #242424;
    color: white;
    position: absolute;
    bottom: calc(100vh / 31);
    right: calc(100vw / 47.5);
}

.scroll {
    position: absolute;
    bottom: calc(100vh / 31);
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    position:relative;
    bottom: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-4px);
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.modal__half {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__about {
    background-color: rgb(245, 245, 245);
    padding: calc(100vw / 32) calc(100vw / 21);
}

.modal__title {
    font-size: calc(100vw / 46);
}

.modal__sub-title {
    margin: 8px 0 calc(100vw / 95) 0;
    font-size: calc(100vw / 76);
}

.modal__para {
    line-height: 1.75;
    margin-bottom: 8px;
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8px;
}

.modal__language--figure {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 300ms ease;
}

.modal__language--figure:hover .modal__language--text {
    transform: scale(1);
}

.modal__language--figure:hover {
    filter: brightness(90%);
    transform: scale(0.9);
}

.modal__language--text {
    transform: scale(0);
    transition: all 300ms ease;
    margin-top: 4px;
}

.modal__language {
    width: 100%;
    max-width: 80px;
}

.modal__contact {
    background-color: #242424;
    padding: calc(100vw / 32) calc(100vw / 21);
    color: white;
}

.form__item {
    margin: calc(100vw / 76) 0;
}

.form__submit {
    background-color: rgb(108, 24, 168);
    color: white;
    border: 2px solid rgb(108, 24, 168);
    padding: calc(100vw / 95) 8px;
    font-weight: bold;
    width: 100%;
    max-width: 240px;
    font-size: calc(100vw / 95);
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.form__submit:active {
    border-color: rgb(108, 24, 168);
    background-color: transparent;
    color: rgb(108, 24, 168);
}

.section__title {
    text-align: center;
    font-size: calc(100vw / 32);
}

.project__image {
    width: 100%;
    transition: transform 450ms, filter 450ms ease;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__image {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 600px;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: 300ms ease;
}

.project__description--title {
    font-size: calc(100vw / 38);
}

.project__description--sub-title {
    margin: 8px 0;
    font-size: calc(100vw / 56);
}

.project__description--link {
    color: white;
    font-size: calc(100vw / 56);
    margin-right: 8px;
}

.project__description--para {
    margin: calc(100vw / 95) 0;
}

.project__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    margin: calc(100vw / 47.5) 0;
    width: 90%;
}

footer {
    background-color: #242424;
    display: flex;
    padding: 4% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    width: calc(100vw / 21.7);
}

.footer__social--link, .footer__copyright {
    color: white;
}

.footer__social--links {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    margin: calc(100vw / 63.3) 0;
}
